# Silvaco intermediate and heavy outputs
*.log
*.out
*.dat
*.mesh
*.spec
*.grid
*.xml
*.str

# Python junk
__pycache__/
*.pyc
.ipynb_checkpoints/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
*.swp
